ul.bullet {
  list-style-image: url('bullet.svg');
  line-height: 1.5rem;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* 水平方向中央 */
  align-items: center;     /* 垂直方向中央 */
  height: 100vh;
}